[Unit]
Description=OctoPrint The snappy web interface for your 3D printer
After=network.online.target
Wants=network.online.target

[Service]
User={{octoprint_user}}
ExecStart=/opt/octoprint/venv/bin/octoprint serve --config=/opt/octoprint/config.yaml --port={{octoprint_port}}

[Install]
WantedBy=multi-user.target