[Unit]
Description=OctoPrint The snappy web interface for your 3D printer
After=network.online.target
Wants=network.online.target

[Service]
User={{ansible_user}}
ExecStart={{ansible_env.HOME}}/OctoPrint/bin/octoprint serve --config={{ansible_env.HOME}}/.octoprint/config.yaml --port={{octoprint_port}}

[Install]
WantedBy=multi-user.target